h2 {
    text-align: center;
}

.news {
    background-color: #1a1818;
    color: #ffffff;
    padding: 10px 10px;
    height: 100px;
    overflow: hidden scroll;
}

.news.decp::-webkit-scrollbar {
    width: 0px;
}

.news span {
    margin: 10px 30px;
}

.tab-content {
    max-height: 750px;
}

.tab-content-2 {
    max-height: 750px;
}

.linkinpage {
    text-align: center;
}

#h-novel {
    background-color: #220000;
    margin-right: 20px;
    padding: 5px;
}

#h-article {
    background-color: #220000;
    margin-left: 20px;
    padding: 5px;
}

.OneShort .Card {
    background-color: #1a1818;
    margin: 10px auto;
    padding: 10px 10px;
    border: 1px;
}

.OneShort h3 {
    text-align: center;
}

.OneShort .date {
    text-indent: 0;
    text-align: center;
}