h2 {
    text-align: center;
}

.news {
    background-color: #1a1818;
    color: #ffffff;
    padding: 10px 10px;
    height: 250px;
    overflow: hidden scroll;
}

.news.decp::-webkit-scrollbar {
    width: 0px;
}

.news span {
    margin: 10px 30px;
}