.wrap-tab-content-2 p {
    margin: 0;
}

.wrap-tab-2 {
    overflow: hidden;
}

.list-tab-2 {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    margin: 0 -2px;
    border-bottom: 3px solid #792525;
}

.list-tab-2>li {
    display: block;
    padding: 0.5em 1em;
    margin: 0 2px;
    width: 100%;
    text-align: center;
    background: #646464;
    box-sizing: border-box;
    cursor: pointer;
}

.list-tab-2 .active-2 {
    background: #792525;
}

.tab-content-2 {
    display: none;
    padding: 1em;
    border-bottom: 1px solid #792525;
    border-left: 1px solid #792525;
    border-right: 1px solid #792525;
}

.tab-content-2.active-2 {
    display: block;
}